$grey-shade-1: #f4f7fd;
$grey-shade-2: #e4ebfa;
$grey-shade-3: #828fa3;
$grey-shade-4: #3e3f43;
$grey-shade-5: #2b2c37;
$grey-shade-6: #20212c;
$grey-shade-7: #000112;
$light-purple: #a8a4ff;
$dark-purple: #635fc7;
$white: #fff;
$light-red: #ff9898;
$dark-red: #ea5555;
